<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2D Project Bonus</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="home">
        <div class="heading">
            <h1>Predicting Singapore's economy amidst COVID-19 using the Straits Times Index (STI)</h1>
            <h3>Cohort 1 Group 7</h3>
        </div>
        <div>
            <form action="{{ url_for('view') }}">
                <button type="button" class="button">Data Visualisation</button>
            </form>


            <form action="{{ url_for('view') }}">
                <button type="submit" class="button" >Predict STI Price</button>
            </form>
            
        </div>
    </div>
</body>
</html>