<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2D Project Bonus</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<!-- <body style="background: #000;"> -->
 <div class="home">

  <button type="submit" class="button"><a href="{{ url_for('index') }}">Home</a></button>
  <button type="submit" class="button"><a href="{{ url_for('index') }}" target="_blank">Data Visualisation</a></button>


	<h3>Predict Straits Times Index using COVID Data</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="Date" placeholder="Date in dd/mm/yyy e.g 11/12/21" required="required" />
      <input type="text" name="Still Hospitalised" placeholder="Number of People Still Hospitalised e.g 121" required="required" />
      <input type="text" name="7 Day Moving Average" placeholder="Number of Covid Cases. E.g 3000 " required="required" />
      <input type="text" name="Percentage Vaccinated" placeholder="Percentage of population vaccinated (0 to 1) e.g 0.6" required="required" />
		  <input type="text" name="Passengers" placeholder="Air Traffic Passengers e.g 211" required="required" />

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict STI</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
